.App {
  text-align: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  align-items: center; /* Center items horizontally */
}
.input-label {
  margin-bottom: 4px;
  font-weight: bold;
}
.input-field {
  padding: 8px;
  font-size: 16px;
  width: 200px; /* Set a specific width for the input field */
  max-width: 100%; /* Ensure the input field does not exceed the width of its container */
  box-sizing: border-box; /* Ensure padding is included in the width */
}
